body{
    background-color: black;
    color: white;
    font-family: Abel;
}

#headline{
    text-align: center;
}

img{
    width: 80%;
}

a{
    color: red;
}

.caption{
    font-size: 70%;
}
.navigation{
    color: darkred;
    display:flex;
    gap: 100px;
    padding: 5px;
    margin: 10px 0px;
    justify-content: center;
}

.navigation > div{
    font-size: large;
    font-weight: bold;
}

.bandlist{
    border: solid;
    border-width: 1px 0px;
    border-color: darkred;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
}

.bandlist > div{
    background-color: #181c19;
    border: solid;
    flex-basis: 25%;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.bandlist > div > img{
    width: 100%;
}


.original{
    padding: 10px 10px;
    float: left;
}
.trio{
    width: 40%;
    padding: 10px 10px;
    text-align: center;
    margin: 10px;
}

.new{
    float: right;
}

.band-name{
    color: red;
    font-weight: bold;
}

.dont-float{
    clear: both;
    display: block;
    text-align: center;
}

#song-list{
    clear: both;
}

footer{
    text-align: center;
    clear: both;
}

@media (max-width: 480px){

    .navigation{
        justify-content: right;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 5px;
    }

    .bandlist{
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .bandlist > div{
        flex-basis: 200px;
    }

    .trio{
        float:none;
        width: 100%;
    }
}